<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<title>Samotlor News</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><title>Samotlor News</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="/static/main.css">
</head>
<body>
 


<div class="jumbotron">
<div class="container" id="app">
<div v-for="post in pb" :key="post.id">
    <h1 class="display-4">[[post.title]]</h1>
    <hr>
    <p class="lead">[[post.text]]</p>
    <a class="btn btn-secondary" href="/post">Link</a>
</div>
</div>
</div>

</body>

{% block scripts %}

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
<script type="text/javascript"
src="{{ url_for('static', filename='app.js') }}"></script>

{% endblock %}


</html>