<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><title>Samotlor News</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="/static/main.css">
</head>
<body>


<div class="jumbotron jumbotron-fluid">
<div class="container" id="app">
    <h1 class="display-4">[[pb.Title]]</h1>
    <p class="lead">[[pb.Text]]</p>
    <p class="lead">[[pb.Time]]</p>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>

<script>
var app = new Vue({
    el:'#app',
    delimiters: ['[[',']]'],
    data:{
        pb:{}
    },

    mounted: function () {
        this.fetchData();
    },
    methods: {
        fetchData: function () {
            this.$http.get('/api').then(response => {
                this.pb = response.body;
            }, response => {
                console.log("error");
            });
        }
    }
})
</script>
{% endblock %}
</body>
</html>