body {background-color: white;}
navbar-brand {padding-left: 10px; margin-left: 10px;}
.items-text {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.footer {
    justify-content: center;
}

#wrap { 
	width: 1550px; 
	margin: 0 auto; 
}



.btn-default:hover {
    text-transform: uppercase;
}